src/main/mule/calculator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="670a3617-2c03-4163-a8a4-3d965750a3b8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="calculatorFlow" doc:id="123361fb-0bb7-449c-b893-06c2738777f3" >
		<http:listener doc:name="Listener" doc:id="5b5b362b-d96b-470b-9f84-254cbf99d7d7" config-ref="HTTP_Listener_config" path="/calculator/add"/>
		<ee:transform doc:name="Transform Message" doc:id="bf93cf51-4388-48f2-9df9-58bce75e41f8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	sum: (payload.n1)+(payload.n2)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="calculatorFlow1" doc:id="2a5f1e7c-4ecc-48ac-a7d7-5a5a32d3acfc" >
		<http:listener doc:name="Listener" doc:id="5e12e5dd-2494-47ae-b23b-c722152fdd3b" config-ref="HTTP_Listener_config" path="/calculator/multiply"/>
		<ee:transform doc:name="Transform Message" doc:id="59b7086e-97ff-45d0-88bd-397730219583" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: (payload.n1)*(payload.n2)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
